$border-width: 3px;
$marker-size: 40px;
$marker-color: #d22b05; // royalblue #d22b05

.marker {
  position: relative;
  width: $marker-size;
  height: $marker-size;
  padding: $border-width;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-54%);

  &::before {
    content: "";
    position: absolute;
    width: $marker-size;
    height: $marker-size;
    border: $border-width solid $marker-color;
    box-sizing: border-box;
    background-color: $marker-color;
    border-radius: 50% 50% 0 50%;
    transform: rotate(45deg);
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 9;
  }
}
