$marker--blue-color: #0472E7;

.mapgakco {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #ed1c40;
  padding: 6px;
  border-radius: 10px;
  color: white;
  white-space: nowrap;

  .mapgakco__header {
    .mapgakco__status {
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      font-weight: 400;
      font-size: 10px;
      line-height: 1.4;
      text-transform: uppercase;
    }
  }

  .mapgakco__section {
    display: flex;
    flex-direction: column;

    .mapgakco__title {
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      text-decoration: none;
    }

    .mapgakco__list {
      padding-left: 6px;

      .mapgakco__row {
        font-size: 10px;
        margin-top: 4px;

        .mapgakco__rowItem {
          padding-left: 10px;
        }
      }
    }
  }

  .icon {
    display: inline-block;
    position: relative;
    top: -0.1em;
    vertical-align: middle;
  }
}

.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay div {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: $marker--blue-color;
  background: $marker--blue-color
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
